name: Verify PR
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
jobs:
  verifyPR:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
      - name: Disable Husky
        run: echo "HUSKY=0" >> $GITHUB_ENV
      - name: Install dependencies
        run: npm ci
      - name: Check format
        run: npm run format:check
      - name: Check lint
        run: npm run lint:check
      - name: Run unit tests
        run: npm run test:run
